/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

.centered {
    margin: 0 auto;
    
    
}

section.cards {
    margin-top: 2em;
    padding: 2em 0em;
    justify-content: center;
    align-content: center;
    background: white;
    
    

}

#title {
    
    margin-top: 1.5em;
    margin-bottom: 0em;
    text-align: center;
    color: #6d6e71;
    background: #e6e6e6;
    font-family: 'Crimson Text', serif;
    font-size: 3em;
    font-weight: 700;
    
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
        margin-top: 2em;
        
    }
}