/********************
IMPORTS
*******************/
@import url('reset.css');
@import url('accessibility.css');
@import url('card-styles.css');
@import url('layout.css');

/********************
YOUR STYLES
*******************/
.lg-img-wrap {
    background-color: black;
}

.lg-image {
    border-radius: 4px;
    box-shadow: 0 0 8px white
}

.lg-sub-html {
    
    color: orange;
    background: blue;
}



.links {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    z-index: 999;
}

li svg {
    width: 45px;
    height: 45px;
    fill: #DC3522;
   margin: 0px 40px;
    padding-top: 1em;
}

li svg:hover {
    fill: white;
}


/* Typography */
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700);


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 75em) {

}

/* Tablet */
@media (min-width: 48em) {

}

/* Mobile */
@media (min-width: 30em) {

}